---
import renderMarkdown from '../utils/renderMarkdown';

interface Props {
	content: string;
}

const { content } = Astro.props;
---

<div class="markdown">
    <Fragment set:html={renderMarkdown(content)}/>
</div>
<style is:inline>
    .markdown {
        padding: 25px;
        background-color: #111;
    }

    .markdown img {
        display: flex;
        margin: auto;
        width: 50%;
    }
</style>