---
import Layout from './Layout.astro';
import getClaim from '../utils/getClaim.js';

import config from '../config';


const claim = await getClaim('lbry://404');

interface Props {
	error?: object;
}

const { error } = Astro.props;
---

<Layout>
    <div class="container">
        <h1>{error && error.text ? error.text : "We did not find what you were looking for"}</h1>
        <img src={config.THUMBNAIL_SERVER(claim)} alt="404 Not Found"/>
    </div>
</Layout>
<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 2em;
        text-align: center;
    }

    .container img {
        max-width: 750px;
        width: 100%;
        border-radius: 8px;
    }
</style>